/* This is a comment!   */

/* selected tag{
  property: value;
} */

/* h1 = Tag
h1 {
   Color = Property --- blue = value
  color: blue;
}
*/
body{
  background-color: url(https://upload.wikimedia.org/wikipedia/commons/f/fe/Exmoor_forest.jpg);
  background-repeat: repeat;
}

div{
  background-color: green;
  border-color: white;
  border-width: 5px;
  border-style: dotted;

}

p{
  color: white
}

span{
  background: red;
  color: black;
}
